ul{
	width: 600px;

}
li{
	width: 180px;
	float: left; 
	border: 1px solid white;
	margin-left: 0,5px;
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	color: white;
	background-color: blue;
	height: 40px;
	padding-top: 15px;
	font-weight: bold;

}
ul li ul li{
	width: 180px;
	float: none;
}


a:visited{
	color:white;
}

a:hover{
	color: yellow;	
}
a{
	text-decoration: none;
}
ul li.con:hover ul{
	display: block;
	

}
ul li.con ul{
	display: none;
	position: absolute;
	top: 73px;
	left: 371px;


}
